<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
       
         <%- include('./partials/messages')  %>  
        <form action="/dashboard/add " method="POST">
          <div class="form-group">
            <label for="name">First_Name</label>
            <input
              type="name"
              id="name"
              name="first_name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof first_name != 'undefined' ? first_name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="name">Last_Name</label>
              <input
                type="name"
                id="name"
                name="last_name"
                class="form-control"
                placeholder="Enter Name"
                value="<%= typeof last_name != 'undefined' ? last_name : '' %>"
              />
          </div>
          
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
         
          
          <button type="submit" class="btn btn-primary btn-block">
            Add
          </button>
         
        </form>
      </div>
    </div>
  </div>

  